@import "vars";

@media only screen and (max-width: 1680px) {
 
}
@media only screen and (max-width: 1240px) {
    .about {
        &__text {
            max-width: 37vw;
            padding: 8vw 5vw 13vw 5vw;
        }
    }
    &__text {
        max-width: 37vw;
        padding: 8vw 5vw 13vw 5vw;
    }
}
@media only screen and (max-width: 980px) {
  
}
@media only screen and (max-width: 1040px) {
    .nav {
        .logo {
            padding: 15px 19px;
        }
        .logo__icon {
            width: 62px;
            height: 31px;
        }
    }
    header {
        padding-top: 1px;
    }
    .menu-toggle {
        display: block;
        width: 44px;
        height: 44px;
        padding: 12px 14px;
        border-radius: 50%;
        border: 1px dashed #3E8587;
        position: absolute;
        top: 8px;
        right: 25px;
        cursor: pointer;
        z-index: 3;
        .one, .two, .three {
            width: 100%;
            height: 1px;
            background: #3E8587;
            margin: 4px auto;
            backface-visibility: hidden;
            transition-duration: .3s;
        }
        &.active {
            position: fixed;
            .one,
            .three {
                margin: 9px auto;
            }
            .one {
                transform: rotate(45deg) translate(0,0px);
            }
            .two {
                opacity: 0;
            }
            .three {
                transform: rotate(-45deg) translate(14px,-14px);
            }
        }        
    }
    .main-menu {
        display: none;
        &.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color:  #FEF6ED;
            z-index: 2;
            right: 0;
            top: 0;
            ul {
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                margin-bottom: 8px;
                text-align: center;
                justify-content: center;
                flex-grow: 0;
            } 
        }
    }
    .menu-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }
 
    .subtitle {
        padding-left: 20px;
        padding-right: 20px;
    }
    .title {
        font-size: 20px;
        line-height: 34px;
        span:before,
        span:after {
            width: 50px;
        }
        span:before {
            left: -90px;
        }
        span:after {
            right: -90px;
        }
    }
    .reviews__slider {
        .arrow-prev {
            left: 0;
        }
        .arrow-next {
            right: 0;
        }
    }
.tv .title, .about .title {
    span:before,
    span:after {
        content: none;
    }

}
//about
    .about {
        &__body {
            padding-bottom: 262px;
            background: #FFB843 url(../img/bgabout-mob.png) no-repeat center top;
            flex-direction: column-reverse;
            background-position:  center bottom;
        }
        &__numbers {
            padding: 20px 13vw;
            max-width: 100vw;
            li {
                span {
                    display: inline-block;
                }
            }
        }
       &__text {
            font-size: 14px;
            line-height: 20px;
            max-width: 100vw;
            padding: 20px;
            max-width: 223px;
            max-width: 290px;
            margin: 0 auto;
            padding-top: 166px;
       }
       .title {
           padding: 20px;
           background: #FFB843;
       }

    }
    .input--wrap {
        margin-right: 0;
        margin-bottom: 15px;
        width: 286px;
    }
//tv
    .tv {
        &__form-wrap {
            flex-direction: column;
        }
        
        &__min-text {
            padding-right: 0;
            position: static;
            margin-top: -15px;
            margin-bottom: 15px;
            margin-right: 0;
            transform: none;
        }
    }
    .slick-arrow {
        top: auto;
        bottom: -20px;
        transform: none;
    }
    .arrow-next {
        transform: rotate(180deg);
    }
    .free {
        &__form {
            flex-direction: column;
        }
        &__videos {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            padding: 5px;
            flex-basis: auto;
            flex-grow: 0;
        }
    }
    .questions {
        &__body {
            padding: 0 20px;
        }
        &__item {
            width: 100%;
        }
    }
    .footer__body {
        padding-bottom: 25px;
    }
    .copy {
        position: static;
        height: auto;
    }
}
@media only screen and (max-width: 980px) {
    .tv {
        &__body  {
                flex-direction: column-reverse;
                padding: 20px;
        }
        
        &__pic {
            margin: 0 auto;
        }
        &__text {
            max-width: none;
        }
    }
    .footer {
        &__body {
            // flex-direction: column;
            flex-wrap: wrap;
        }
        &__menu {
            height: 192px;
            padding-right: 34px;
            width: 100%;
            order: 1;
        }
    }
}
@media only screen and (max-width: 760px) {
    .services__body {
        justify-content: center;
    }
}
@media only screen and (max-width: 680px) {
    
    .directions__item {
        max-width: 150px;
    }
    .directions__pic {
        width: 30px;
        height: 29px;
    }
    .directions__pic--bus {
        width: 26px;
        height: 37px;
    }
    .directions__text {
        font-size: 12px;
        line-height: 12px;
    }
    .directions__item {
        min-height: 103px;
        padding: 16px 13px 18px;
    }
    .footer {
        &__list {
            a {
                white-space: normal;
                max-width: 200px;
            }
        }
        &__bottom {
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            &>a {
                padding: 5px;
            }
        }
        &__development {
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .subtitle {
        padding-top: 12px;
        font-size: 14px;
        padding-left: 27px;
        padding-right: 27px;
    }
    .title span:before, 
    .title span:after {
        width: 70px;
    }
    .title span:after {
        right: -79px;
    }
    .title span:before {
        left: -79px;
    }
    .btn {
        padding: 16px 25px;
        margin-left: 25px;
        margin-right: 25px;
        &:before, &:after {
            top: 16%;
            width: 41px;
            height: 41px;
           
        }
        &:before {
            left: -19px;
        }
        &:after {
            right: -19px;
        }
        &--wrap:after {
            background-position-y: 9px;
        }
    }
    .main-menu.active {
        padding: 5px;
    }
//header
    .header {
        margin-top: 33px;
        .wrap {
            background: #fef6ed url(../img/bgheader-mob.png) no-repeat center top;
            background-size: cover;
        }
    }

    .header__title {
        max-width: 74vw;
        padding: 3vw 1vw 56vw 1vw;
        h1 {
            font-size: 20px;
            font-size: 6.5vw;
            line-height: 28px;
            line-height: 8.8vw;

            span {
                font-size: 20px;
                font-size: 6.5vw;
            }
        }
        p {
            font-size: 14px;
            font-size: 4.4vw;
            line-height: 6.8vw;
            max-width: 75vw;
        }
    }
    .directions {
        padding-top: 15px;
        &__pic {
            margin-top: 0;
        }
        &__text {
            padding-top: 9px;
        }
        &__item {
            max-width: 92px;
            min-height: 96px;

        }
    }
    .tv {
        padding-top: 49px;
        &__text {
            padding-top: 24px;
        }
        &__item {
            padding-left: 0;
            &:before {
                content: none;
            }
        }
        &__pic .btn__movie--wrap {
            top: 18px;
            left: 20px;
            border-top: 14px solid transparent;
            border-left: 25px solid #ed694d;
            border-bottom: 14px solid transparent;
            &:before {
                left: -22px;
                top: -8px;
                height: 15px;
            }
            &:after {
                left: -29px;
                top: -8px;
                width: 14px;
                height: 14px;
            }
        }
        &__pic .btn__movie:before {
            width: 60px;
            height: 60px;
        }
        &__body {
            padding-bottom: 9px;
        }
        &__form-wrap {
            padding: 0;
        }
        &__min-text {
            margin-bottom: 34px;
        }
    }
    .btn__movie {
        top: 24%;
        left: 26%;
    }
    .input--wrap {
        max-width: none;
        width: 300px;
        margin-bottom: 19px;
        input {
            padding: 18px 10px 14px;
        }
    }
    .about {
        padding-top: 57px;
        &__numbers {
            padding: 8vw 8vw;
            max-width: 81vw;
            line-height: 9vw;
            li {
                padding-left: 28px;
                margin-bottom: 43px;
                span {
                    display: block;
                }
            }
        }
        &__text {
            padding-top: 0;
            p {
                margin: 0;
                padding-top: 20px;
            }
        }
    }
    .reviews {
        padding-top: 55px;
        &__item {
            background-image: url(../img/bgreview-mob.png); 
            flex-direction: column;
            padding: 62px 0 0px 0;
            &--wrap {
                padding: 0 18px;

            }
            
        }
        &__foto {
            width: 52px;
            height: 52px;
            border-width: 3px;
            &--wrap {
                position: relative;
                width: 100%;
                padding: 0 38px;
                .social-icons {
                    position: absolute;
                    top: -33px;
                    right: 29px;
                }
            }

        }
        &__foto--wrap:before {
            content: none;
        }
        &--play {
            display: none;
        }
        .social-icon--yt {
            width: 18px;
            height: 13px;
        }
        .social-icon--fb {
            width: 8px;
            height: 16px;
        }
        .social-icon--inst {
            width: 16px;
            height: 16px;
        }
        .social-icon {
            margin-right: 20px;
        }
        &__text {
            font-size: 12px;
        }
        &__text--title {
            font-size: 14px;
            padding-bottom: 10px;
        }
        &__name {
            position: absolute;
            top: -36px;
            left: 59%;
            margin-right: -50%;
            transform: translate(-50%, 0);
        }
        &__descr {
            padding: 14px 32px 81px 35px;
        }
        &__slider {
            padding-bottom: 17px;
            .arrow-prev {
                left: 33px;
            }
            .arrow-next {
                right: 39px;
            }
        }
        &__video {
            display: block;
        }
    }
    .services {
        padding-top: 84px;
        padding-bottom: 33px;
        &__title {
            font-size: 22px;
            padding-top: 54px;
            padding-bottom: 117px;
        }
        &__body {
            padding-top: 30px;
            padding-left: 17px;
            padding-right: 17px;
        }
        &__item {
            margin-bottom: 23px;
        }
        a {
            margin-bottom: 34px;
        }
    }
    .phone-body {
        margin-top: 63px;
    }
    .phone-body__title {
        padding: 0 20px;
        font-size: 20px;
    }
    .phone-body {
        padding-top: 38px;
        padding-bottom: 20px;
        &:after {
            content: "";
            position: absolute;
            top: -63px;
            width: 72px;
            height: 58px;
            top: -36px;
        }
        .tv__form-wrap {
            padding: 0;
        }
        &__subtitle {
            position: static;
        }
        &__title {
            margin-bottom: 11px;
        }
        .tv__form-wrap {
            max-width: 270px;
            margin: 0 auto;
        }
        .input--wrap {
            width: 100%;
        }
        .input--wrap input {
            padding: 18px 16px 14px;
        }
        &__subtitle {
            font-size: 12px;
            margin-top: -16px;
            margin-bottom: 12px;
        }
    }
    .free {
        padding-top: 21px;
        &__videos {
            padding-top: 4px;
        }
        &__video {
            height: 174px; 
            .btn__movie {
                right: 55px;
                bottom: 55px;
            }
        }
        &__title {
            font-size: 14px;
            margin-top: 4px;
            margin-bottom: 20px;
            padding: 0 5px;
        }
        &__form-title {
            font-size: 20px;
        }
        &__form--wrap {
            padding: 21px 12px 8px;
        }
        .tv__min-text {
            margin-bottom: 20px;
            font-size: 12px;
        }
        .btn__movie:before {
            width: 40px;
            height: 40px;
        }
        .btn__movie--wrap {
            top: 9px;
            left: 14px;
            border-top: 11px solid transparent;
            border-left: 18px solid #ed694d;
            border-bottom: 11px solid transparent;
            &:after {
                left: -20px;
                top: -5px;
                width: 8px;
                height: 8px;
            }
            &:before {
                left: -16px;
                top: -4px;
                width: 6px;
                height: 9px;
            }
        }

       
    }
    .jq-selectbox__select {
        padding: 18px 40px 14px 10px;
        text-align: left;
    }
    .questions {
        padding-top: 3px;
        &__body {
            padding: 0px 16px;
        }
        &__qa {
            padding: 17px 24px 14px;
            margin-top: 0;
            margin-bottom: 19px;
        }
        &__ans {
            margin-bottom: 0;
        }
        &__item {
            padding-top: 27px;
            padding-bottom: 17px;
        }
        .subtitle {
            font-family: "Alegreya";
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #97C09A;
        }
    }
    .contact {
        .title span:before, 
        .title span:after {
            width: 50px;
        }
        .subtitle {
            padding-top: 14px;
            font-family: Alegreya;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #97C09A;
        }
        .social-icons {
            margin-bottom: 22px;
        }
    }

    .footer {
        padding: 0px 0 40px;
        .logo__icon {
            width: 102px;
            height: 53px;
        }
        &__body {
            padding-bottom: 34px;
            padding-top: 29px;
            justify-content: center;
        }
        &__services {
            width: auto;
        }
        &__menu {
            text-align: center;
            font-size: 14px;
            height: auto;
            order: 0;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 28px;
            &>li {
                padding: 4px 0;
            }
        }
        &__bottom {
            text-align: center;
            padding-top: 29px;
        }
        &__bottom > a {
            width: 100%;
        }
        &__bottom > a.copy {
            width: auto;
            margin: 0 auto;
            padding-bottom: 40px;
            
        }
        &__development {
            border-top: 1px solid #000;
            padding: 14px 5px;
            order: 1;
            width: 100%;
            a {
                display: inline-block;
            }
        }
        .order1 {
            order: -1;
        }
        .social-icons {
            margin-bottom: 18px;

        }
        .footer__list a {
            max-width: none;
        }
    }
    .btn--thin {
        padding: 11px;
        &:before, &:after {
            width: 35px;
            height: 35px;
            top: 12%;
        }
        
    }
    .btn--wrap--thin:after {
        background-position-y: 7px;
        background-size: 89% 71%;
    }
}
@media only screen and (max-width: 320px) {

}
