
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";
@import "tools/forms";
::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	// letter-spacing: 1px;
    font-family: "Alegreya", Georgia, 'Times New Roman', Times, serif;
    background-color: #fef6ed;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		font-family: "Alegreya";
		border: #666 1px solid;
		outline: none;
		background-color: #fff; 
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	max-width: 1200px;
	margin: 0 auto;
}
section {
	padding-top: 80px;
}
a {
	text-decoration: none;
	color: $text;
	-webkit-transition: all.6s ease; 
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease; 
	-o-transition: all.6s ease; 
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		-webkit-transition: all.1s ease; 
		-moz-transition: all.1s ease;
		-ms-transition: all.1s ease; 
		-o-transition: all.1s ease; 
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.primary-text {
	// font-family: $second-font;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 4px;
}
.title {
	color: #110e11;
	font-family: "VastShadow";
	font-size: 38px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	span {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: -240px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			height: 1px;
			width: 200px;
			background-color: #ed694d;
		}
		&:after {
			content: "";
			position: absolute;
			right: -234px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			height: 1px;
			width: 200px;
			background-color: #ed694d;
		}
	}
	&--small {
		font-size: 28px;
		line-height: 34px;/* identical to box height, or 121% */
		line-height: 1.21;
		span {
			&:before, &:after {
				width: 100px;
			}
			&:before {
				left: -123px;
			}
			&:after {
				right: -123px;
			}
		}
	}
}
.subtitle {
	color: #000;
	// font-family: "Alegreya";
	font-family: "Montserrat", 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 500;
	max-width: 670px;
	margin: 0 auto;
	text-align: center;
	padding-top: 22px;
	p {
		margin: 0;
	}
	a {
		color: #ed694d;
	}
}

.btn {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	// font-family: $second-font;
	color: #fff;
	padding: 13px 25px;
	transition: 0.5s;
	cursor: pointer;
	background: transparent;
	border: none;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 8%;
		width: 41px;
		height: 41px;
		transform: rotate(45deg) skew(15deg, 15deg);
		z-index: -1;
	}
	&:before {
		left: -15px;
	}
	&:after {
		right: -15px;
	}
	&:hover {
		opacity: 0.8;
	}
	&--blue {
		background-color: #80ced1;
		&:before, &:after {
			background-color: #80ced1;
		}
	}
	&--red {
		background: $accent;
		&:before, &:after {
			background-color: $accent;
		}
	}
	&--green {
		background: #7FD77A;
		&:before, &:after {
			background-color: #7FD77A;
		}
	}
	&--darkblue {
		background: #3E8587;
		&:before, &:after {
			background-color: #3E8587;
		}
	}
	&--blue {
		background: #80CED1;
		&:before, &:after {
			background-color: #80CED1;
		}
	}

	&--small {
		width: 112px;
	}
	&--wrap {
		position: relative;
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../img/bgbtn.png') no-repeat;
			background-size: 82% 72%;
			background-position-x: 10px;
			background-position-y: 7px;
			pointer-events: none;
		}
		
		&--left{
			&:after {
				background-image: url('../img/page_services/bgbtn-left.png');
				background-size: 86% 72%;
				background-position-x: 12px;
			}
			.btn {
				margin-right: 5px;
				&:after {
					content: none;
				}
			}

		}
		&--right {
			&:after {
				background-image: url('../img/page_services/bgbtn-left.png');
				background-size: 86% 72%;
				background-position-x: 12px;
				transform: rotate(180deg);
			}
			.btn {
				margin-left: 5px;
				&:before {
					content: none;
				}
			}
		}
		&--thin {

			.btn {
				padding: 6px;
				&:before, &:after {
					width: 35px;
					height: 35px;
					top: 12%;
				}
			}
			&:after {
				background-size: 89% 71%;
			}
		}
	}
	
	&--big {
		width: 212px;
	}
	&__movie {
		cursor: pointer;
		position: absolute;
		top: 26%;
		left: 30%;
		transition: 0.3s;
		&:hover {
			
			transform: translate(-5px, -5px) scale(1.1);
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-color: #fff;
		}
		&--wrap {
			position: absolute;
			top: 16px;
    		left: 23px;
			width: 0;
			height: 0;
			border-top: 14px solid transparent;
			border-left: 25px solid #ed694d;
			border-bottom: 14px solid transparent;
			&:before {
				content: "";
				position: absolute;
				left: -22px;
				top: -7px;
				width: 6px;
				height: 14px;
				border-left: 2px solid #eb9d9d;

			}
			&:after {
				content: "";
				position: absolute;
				border-right: 2px solid #eb9d9d;
				border-bottom: 2px solid #eb9d9d;
				left: -29px;
				top: -8px;
				width: 14px;
				height: 14px;
				transform: rotate(-45deg) skew(13deg, 13deg);
			}
		}
	}
}
.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
  }
  .tabs__content.active {
	display: block; /* по умолчанию показываем нужный блок */
  }


@import "sections/nav";
@import "sections/header";
@import "sections/directions";
@import "sections/tv";
@import "sections/about";
@import "sections/reviews";
@import "sections/services";
@import "sections/free";
@import "sections/questions";
@import "sections/contact";
@import "sections/footer"; 

@import "sections/page404"; 

@import "sections/servicesAbout"; 
@import "sections/servicesPacks"; 
@import "sections/servicesFirst"; 
@import "sections/servicesExtra";
@import "sections/servicesQuestions";
@import "sections/servicesGift";

@import "media"; // Always at the end
