.about {
    &__body {
        background: url('../img/bgabout.png');
        height: 100%;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
    }
    &__body {
        padding-top: 0;
        padding-bottom: 0;
    }
    &__text {
        // max-width: 37vw;
        // padding: 8vw 5vw 13vw 5vw;

        padding: 87px 70px;
        max-width: 512px;
        font-family: "Montserrat";
    }
    &__numbers {
        // padding: 17vw 9vw 2vw 2vw;
        // max-width: 24vw;
        padding: 211px 14px 150px 25px;
        max-width: 298px;
        text-shadow: 2px 2px 0 #000000;
        color: #ffffff;
        font-family: "VastShadow";
        
        font-weight: 400;
        line-height: 34px;
        font-size: 38px;
        li {
            position: relative;
            padding-left: 44px;
            &::before {
                content: ">";
                position: absolute;
                left: 0;
                
                text-shadow: 2px 2px 0 #000000;
                color: #80ced1;
                font-family: "VastShadow";
                font-size: 38px;
                font-weight: 400;
                line-height: 34px;
            }
            span {
                display: block;
                font-size: 22px;
            }
        }
    }
}