.directions {
    color: #fff;
    padding-top: 30px;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 39px 25px 25px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 184px;
        position: relative;
        &--blue {
            background-color: #4aa699;
        }
        &--bord {
            background-color: #c45085;
            .directions__pic {
                width: 64px;
            }
        }
        &--yellow {
            background-color: #d9af40;
        }
        &--red {
            background-color: #d2552c;
        }
        &--green {
            background-color: #87ae5f;
        }
        &--darkblue {
            background-color: #3f716d;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            transform: scale(0.95);
            border: 1px solid #ffffff;
            border-radius: 10px;
        }
    }
    &__pic {
        width: 78px;
        height: 76px;
        margin: 11px auto 0;
        &--bus {
            width: 62px;
            height: 91px;
            margin: 0 auto;
        }
        img {
            width: 100%;
        }
    }
    &__text {
        padding-top: 26px;
    }
    .slick-slide+div {
        text-align: center;
    }
    .slick-list {
        width: 100%;
    }
}