.page404 {
    background: #ea640b;
    height: 100vh;
    &__wrap {

        background: #ea640b url('../img/bgpage404.jpg');
        height: 100%;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        padding: 3vw 12vw 1vw 0vw;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3.3vw;    
        transform: rotate(-3deg);
        line-height: 1;;
        a {
            display: block;
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__title {

    }
    &__subtitle {
        padding-left: 4vw;
        font-size: 2.4vw;
        margin-bottom: 4px;
    }
}