.services {
    padding-top: 71px;
    padding-bottom: 95px;
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 53px;
        padding-left: 57px;
        padding-right: 57px;
    }
    &__item {
        margin-bottom: 36px;
        width: 323px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #000;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &__item1 {
        background-image: url('../img/services/services1.jpg');
    }
    &__item2 {
        background-image: url('../img/services/services2.jpg');
    }
    &__item3 {
        background-image: url('../img/services/services3.jpg');
    }
    &__item4 {
        background-image: url('../img/services/services4.jpg');
    }
    &__item5 {
        background-image: url('../img/services/services5.jpg');
    }
    &__item6 {
        background-image: url('../img/services/services6.jpg');
    }
    
    &__title {
        text-shadow: 1px 2px 0 #ed694d;
        color: #f2e0cc;
        font-family: "BernierDistressed";
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 1px;
        padding-top: 60px;
        padding-bottom: 142px;
        line-height: 34px;
        &--dark {
            color: #4e3a32;
        }
    }
    .btn {
        min-width: 135px;
    }
    a {
        margin-bottom: 50px;
    }
}
.phone-body {
    border-radius: 8px;
    border: 8px solid #d1c1a7;
    background-color: #fff0df;
    padding: 49px 0 37px;
    margin-top: 82px;
    position: relative;
    &__title {
        color: #110e11;
        font-family: "VastShadow";
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        margin-bottom: 28px;
    }
    &:after {
        content: "";
        position: absolute;
        top: -63px;
        width: 132px;
        height: 109px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        background: url('../img/phone.png') no-repeat;
        background-size: 100%;
    }
    .tv__form-wrap {
        padding: 0px 151px 24px 138px;
    }
    &__subtitle {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #BABABA;
        position: absolute;
        bottom: -2px;
    }
}