include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		header
			include ../common/nav
			include ../common/header
		include ../common/directions
		include ../common/tv
		include ../common/about
		include ../common/reviews
		include ../common/services
		include ../common/free
		include ../common/questions
		include ../common/contact
		include ../common/footer

	// END body