include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
	body
		header
			include ../common/nav
		include ../common/taskHeader

		include ../common/footer

	// END body