section.about
    .wrap
        .title 
            span About us
        .about__body
            .about__text 
                p 
                    | NoBadEnglish.com is a part of Perfect Education Co-op. 
                    br
                    | Perfect Education Co-op is an online language school, that grew naturally starting from 2008. 
                p Throughout so many years we've helped over 900 students to achieve their ambition, whether it is improving English for work, English for travelling, special English or Exam English. 
            ul.about__numbers
                li 900 
                    span students 
                li 11 
                    span years of experience 
