section.directions
    .wrap
        .directions__items
            .directions__item.directions__item--green
                .directions__pic
                    img(src="img/001-talk.svg", alt="Speaking lessons")
                .directions__text Speaking lessons
            .directions__item.directions__item--yellow
                .directions__pic
                    img(src="img/002-english-language.svg", alt="General English")
                .directions__text General Englishh
            .directions__item.directions__item--bord
                .directions__pic
                    img(src="img/003-agreement.svg", alt="Business English")
                .directions__text Business Englis
            .directions__item.directions__item--red
                .directions__pic
                    img(src="img/004-student.svg", alt="IELTS prep")
                .directions__text IELTS prep 
            .directions__item.directions__item--darkblue
                .directions__pic
                    img(src="img/005-exam.svg", alt="FCE prep")
                .directions__text FCE prep 
            .directions__item.directions__item--blue
                .directions__pic
                    img(src="img/006-study.svg", alt="Self-study help")
                .directions__text Self-study help