header
	nav
		.wrap
			.nav
				.logo
					.logo__icon
						img(src="img/logo.png", alt="logo")
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li.active
								a(href="#") Home
							li
								a(href="#") About us
							li
								a(href="#") Services
							li
								a(href="#") Tests
							li
								a(href="#") Contact us
							li
								a(href="#") Reviews
						.btn--wrap.btn--wrap--thin
							.btn.btn--blue.btn--thin Get you first lesson


	.header
		.wrap
			.header__title
				h1 
					| -Hi, welcome to
					br
					span.accent No Bad English!
				p 
					| -I`m Marina, the head teacher of Perfect Education co-op 
					br
					| -I`ve been teaching English since 2005.
					br
					| -I can help you with your English
					
