section.listing
    .wrap
        .title 
            span Vocabulary
        .subtitle Helpful rules and exercises 
        .listing__body
            .listing__themes
                .listing__search
                    form
                        .input--wrap.search--wrap
                            input(type="search" name="search" placeholder="Rules / theme")
                            .search
                                img(src="img/search.svg", alt="search")
                ul.themes
                    li.themes__item
                        .themes__name Adverse vs. averse
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Affect vs. Affect vs. effecteAffect effectffect
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Affect vs. Affect vs. effec  teAffect effec A ffect vs. Af fect vs. effecteAffect effectffect tffectAffect vs. Affect vs. effecte Affect ef fectffect
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Adverse vs. averse
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Affect vs. Affect vs. effecteAffect effectffect
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Affect vs. Affect vs. effec  teAffect effec A ffect vs. Af fect vs. effecteAffect effectffect tffectAffect vs. Affect vs. effecte Affect ef fectffect
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Adverse vs. averse
                        .themes__btn 
                            .btn--wrap
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                    li.themes__item
                        .themes__name Affect vs. Affect vs. effecteAffect effectffect
                        .themes__btn 
                            .btn--wrap.btn--wrap--thin
                                .btn.btn--blue
                                    input(type="submit" value="More") 
                .themes__btn--global
                    .btn--wrap.btn--wrap--thin
                        .btn.btn--blue
                            input(type="submit" value="Show more") 



                                    
            .listing__order
                .title.title--small Book your first lesson
                form
                    .free__form
                        .input--wrap
                            input(type="text" name="name" placeholder="Name" required)
                        .input--wrap
                            input(type="text" name="skype" placeholder="Skype" required)
                        .input--wrap
                            input(type="text" name="email" placeholder="Email" required)
                        .input--wrap
                            select.styled
                                option Type of lesson 
                                option 1
                                option 2
                        .tv__min-text Consent to personal data processing
                        .btn--wrap
                            .btn.btn--red
                                input(type="submit" value="Get you tests lesson") 
                


