section.servicesFirst
    .wrap
        .title.title--small
            span First lesson

        .tv__form
            form
                .tv__form-wrap
                    .input--wrap
                        input(type="text" name="name" placeholder="Name" required="")
                    .input--wrap
                        input(type="text" name="skype" placeholder="Skype" required="")
                    .input--wrap
                        input(type="text" name="email" placeholder="Email" required="")
                    .tv__min-text Consent to personal data processing
                    .btn--wrap
                        .btn.btn--red
                            input(type="submit" value="Get you tests lesson") 

            .subtitle  We will contact you about the time within 24 hours, alternatively you can contact me by email
            ul.social-icons
                li.social-icon.social-icon--fb
                    a(href="#")
                        img(src="img/facebook-logo.svg", alt="facebook")
                li.social-icon.social-icon--inst
                    a(href="#")
                        img(src="img/instagram-logo.svg", alt="instagram")
