section.services
    .wrap
        .title 
            span Services
        .services__body
            .services__item.services__item4
                .services__title.services__title--dark Speaking lessons
                a(href="#").btn--wrap
                    .btn.btn--red Lets go
            .services__item.services__item3
                .services__title.services__title--dark General English
                a(href="#").btn--wrap
                    .btn.btn--red Lets go
            .services__item.services__item2
                .services__title.services__title--dark Business English
                a(href="#").btn--wrap
                    .btn.btn--red Lets go
            .services__item.services__item5
                .services__title IELTS prep 
                a(href="#").btn--wrap
                    .btn.btn--red Lets go
            .services__item.services__item6
                .services__title.services__title--dark FCE prep 
                a(href="#").btn--wrap
                    .btn.btn--red Lets go
            .services__item.services__item1
                .services__title Self-study help
                a(href="#").btn--wrap
                    .btn.btn--red Lets go
            
            
        .phone-body 
            .tv__form
                form
                    .phone-body__title I dont know, contact me, please!
                    .tv__form-wrap
                        .input--wrap
                            input(type="text" name="name" placeholder="Name" required="")
                        .input--wrap
                            input(type="text" name="email" placeholder="Email" required="")
                        .phone-body__subtitle Consent to personal data processing
                        .btn--wrap
                            .btn.btn--red.btn--big
                                input(type="submit" value="Send") 
            
                