section.servicesAbout
    .wrap
        .servicesAbout__body
            .title 
                span Services | Business
            .servicesAbout__text
                p Personalised English lesson by Skype
                p Do you want to impress your boss with your English? Or are you tired to pay for a translator? You can improve your English with English lessons by Skype. Only qualified English teachers with at least 6 years of teaching experience.  
            .servicesAbout__btn 
                .btn--wrap.btn--small
                    .btn.btn--green
                        input(type="submit" value="Buy") 
            