section.servicesGift
    .wrap
        .title.title--small GIFT VOUCHER
        .subtitle Text text texttexttexttext text 
        .servicesGift__items
        .btn--wrap
            .btn.btn--red
                input(type="submit" value="Buy") 
        .servicesGift__navigation   
            .servicesGift__part
                a(href="#").custom-arrow
                .servicesGift__text.servicesGift__text--small Exam Services
            .servicesGift__part
                .servicesGift__text Want to speak freely?
                a(href="#").custom-arrow.custom-arrow--right