section.tv
    .wrap
        .title 
            span My name`s Marina.
        .subtitle  I`m the head teacher of Perfect Education Co-op and this is my site. If you want to learn more about me, please watch the video.
        .tv__body 
            .tv__pic
                img(src="img/tv.png", alt="tv")
                .btn__movie
                    .btn__movie--wrap
            .tv__text
                ul.tv__itens
                    li.tv__item 
                        .tv__name To find more advice follow me on:
                        ul.social-icons
                            li.social-icon.social-icon--fb
                                a(href="#")
                                    img(src="img/facebook-logo.svg", alt="facebook")
                            li.social-icon.social-icon--inst
                                a(href="#")
                                    img(src="img/instagram-logo.svg", alt="instagram")
                            li.social-icon.social-icon--yt
                                a(href="#")
                                    img(src="img/youtube-logo.svg", alt="youtube")
                    li.tv__item 
                        .tv__name And don`t be afraid to ask questions! My mission is to better your English.
                    li.tv__item 
                        .tv__name Just in case you`re interested, here's my story.
        .tv__form
            form
                .tv__form-wrap
                    .input--wrap
                        input(type="text" name="name" placeholder="Name" required="")
                    .input--wrap
                        input(type="text" name="skype" placeholder="Skype" required="")
                    .input--wrap
                        input(type="text" name="email" placeholder="Email" required="")
                    .tv__min-text Consent to personal data processing
                    .btn--wrap
                        .btn.btn--red
                            input(type="submit" value="Get you tests lesson") 

            .subtitle  We will contact you about the time within 24 hours, alternatively you can contact me by email
            ul.social-icons
                li.social-icon.social-icon--fb
                    a(href="#")
                        img(src="img/facebook-logo.svg", alt="facebook")
                li.social-icon.social-icon--inst
                    a(href="#")
                        img(src="img/instagram-logo.svg", alt="instagram")