section.page404
    .page404__wrap
        .page404__content
            a(href="https://www.perf-edu.co.uk/").page404__title www.perf-edu.co.uk
            a(href="https://www.instagram.com/NoBadEnglish/").page404__subtitle @NoBadEnglish
            a(href="https://www.facebook.com/pages/category/Product-Service/nobadenglish-282191315778942/").page404__subtitle @NoBadEnglish
