section.contact
    .wrap
        .title.contact__title 
            span Contact us
        .subtitle 
            | If you have any questions about refunds, please contact us through email 
            a(href="mailto:teacher@perf-edu.co.uk") teacher@perf-edu.co.uk
        //- .contact__body
        //-     ul.social-icons
        //-         li.social-icon.social-icon--yt
        //-             a(href="#")
        //-                 img(src="img/youtube-logo.svg", alt="youtube")
        //-         li.social-icon.social-icon--fb
        //-             a(href="#")
        //-                 img(src="img/facebook-logo.svg", alt="facebook")
        //-         li.social-icon.social-icon--inst
        //-             a(href="#")
        //-                 img(src="img/instagram-logo.svg", alt="instagram")
                
