.header
	.wrap
		.header__title
			h1 
				| -Hi, welcome to
				br
				span.accent No Bad English!
			p 
				| -I`m Marina, the head teacher of Perfect Education co-op 
				br
				| -I`ve been teaching English since 2005.
				br
				| -I can help you with your English
				
