
nav
	.wrap
		.nav
			.logo
				a(href="index.html").logo__icon
					img(src="img/logo.png", alt="logo")
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					ul
						li.active
							a(href="index.html") Home
						li
							a(href="#" data-menuAnchor="#about") About us
						li
							.services__btn Services
								ul.services__list
									li
										a(href="#") Personalised English lesson by Skype
									li
										a(href="#") General English
									li
										a(href="#") Business English
									li
										a(href="#") Speaking lesson 
									li
										a(href="#") IELTS prep  
									li
										a(href="#") FCE prep 
						li
							a(href="#") Grammar
						li
							a(href="#") Vocabulary
						li
							a(href="#" data-menuAnchor="#contactus") Contact us
						li
							a(href="#" data-menuAnchor="#reviews") Reviews
					.btn--wrap.btn--wrap--thin
						.btn.btn--blue Get your first lesson

