section.questions
    .wrap
        .title 
            span Questions
        .questions__body
            .questions__item
                .questions__qa For business & carrier
                .questions__ans If you have any questions or to find more advice follow me on Instagram, Twitter, Facebook or Youtube.
            .questions__item
                .questions__qa For business & carrier
                .questions__ans If you have any questions or to find more advice follow me on Instagram, Twitter, Facebook or Youtube. 
            .questions__item
                .questions__qa For business & carrier
                .questions__ans If you have any questions or to find more advice follow me on Instagram, Twitter, Facebook or Youtube.
             .questions__item
                .questions__qa For business & carrier
                .questions__ans If you have any questions or to find more advice follow me on Instagram, Twitter, Facebook or Youtube.
        .subtitle  
            p If you have any questions or to find more advice follow me on Instagram, Twitter, Facebook or Youtube.
            p .subtitle I`m always happy to help because my mission is to better your English.