footer.footer
    .wrap
        .footer__body
            .logo
                .logo__icon
                    img(src="img/logo.png", alt="logo")
            ul.footer__menu
                li.active.order1
                    a(href="#") Home
                li.order1
                    a(href="#") About us
                li
                    a(href="#") Grammar
                li
                    a(href="#") Locabulary
                li
                    a(href="#") Contact us
                li
                    a(href="#") Reviews
                li.footer__services.order1 
                    span.footer__btn Services
                    ul.footer__list
                        li
                            a(href="#") Personalised English lesson by Skype
                        li
                            a(href="#") General English
                        li
                            a(href="#") Business English
                        li
                            a(href="#") Speaking lesson 
                        li
                            a(href="#") IELTS prep  
                        li
                            a(href="#") FCE prep 
            .footer__block
                ul.social-icons
                    li.social-icon.social-icon--yt
                        a(href="#")
                            img(src="img/youtube-logo.svg", alt="youtube")
                    li.social-icon.social-icon--fb
                        a(href="#")
                            img(src="img/facebook-logo.svg", alt="facebook")
                    li.social-icon.social-icon--inst
                        a(href="#")
                            img(src="img/instagram-logo.svg", alt="instagram")
                .btn--wrap.btn--wrap--thin
                    a(href="#").btn.btn--blue.btn--thin Get you free lesson
        .footer__bottom
            a(href="#") Terms and conditions
            .footer__development 
                | Design and development 
                a(href="#") — insaim
            a(href="") Refound Policy
            a.copy
                img(src="img/copy.png", alt="perfect english")

                    

script(src="js/scripts.min.js")
script(src="js/common.js")
