section.free
    .wrap
        .title 
            span Free Lesson
        .free__body
            .free__videos
                .free__item
                    .free__video
                        img(src="img/free-video1.jpg", alt="free-video")
                        a(data-fancybox href="https://www.youtube.com/watch?v=f7zk9qLbSSs").btn__movie
                            .btn__movie--wrap
                    .free__title Watch what happens during the first lesson
                .free__item    
                    .free__video
                        img(src="img/free-video2.jpg", alt="free-video")
                        a(data-fancybox href="https://www.youtube.com/watch?v=f7zk9qLbSSs").btn__movie
                            .btn__movie--wrap
                    .free__title This is an overview of a typical general English lesson. Your lesson will be different.
                .free__item
                    .free__video
                        img(src="img/free-video2.jpg", alt="free-video")
                        a(data-fancybox href="https://www.youtube.com/watch?v=f7zk9qLbSSs").btn__movie
                            .btn__movie--wrap
                    .free__title This is an overview of a typical general English lesson. Your lesson will be different.
            .free__form--wrap
                form
                    .free__form-title Get your free lesson
                    .free__form
                        .input--wrap
                            input(type="text" name="name" placeholder="Name" required)
                        .input--wrap
                            input(type="text" name="skype" placeholder="Skype" required)
                        .input--wrap
                            input(type="text" name="email" placeholder="Email" required)
                        .input--wrap
                            select.styled
                                option Type of lesson 
                                option 1
                                option 2
                        .tv__min-text Consent to personal data processing
                        .btn--wrap
                            .btn.btn--red
                                input(type="submit" value="Get you tests lesson") 
                