section.servicesExtra
    .wrap
        .title 
            span Extra services
            
        .servicesExtra__body
            .servicesExtra__top
                .servicesExtra__left
                    .servicesExtra__item.servicesExtra__left--item.item-border.item-border2
                        .servicesPage__title Document check - £10
                            span (per page)
                        .servicesPage__btn
                            .btn--wrap
                                .btn.btn--green
                                    input(type="submit" value="Buy") 
                    .servicesExtra__item.servicesExtra__left--item.item-border.item-border2
                        .servicesPage__title Business email check - £10
                            span (per page)
                        .servicesPage__btn
                            .btn--wrap
                                .btn.btn--green
                                    input(type="submit" value="Buy")
                    .servicesExtra__item.servicesExtra__left--item.item-border.item-border2
                        .servicesPage__title Linkdin profile check - £10
                            span (per page)
                        .servicesPage__btn
                            .btn--wrap
                                .btn.btn--green
                                    input(type="submit" value="Buy") 
                    .servicesExtra__item.servicesExtra__left--item.item-border.item-border2
                        .servicesPage__title Cover letter check - £10
                            span (per page)
                        .servicesPage__btn
                            .btn--wrap
                                .btn.btn--green
                                    input(type="submit" value="Buy")
    
                .servicesExtra__right 
                    .servicesExtra__item.servicesExtra__item--column.item-border.item-border2
                            .servicesPage__title Presentation check
                            .servicesPage__btn
                                .btn--wrap
                                    .btn.btn--green
                                        input(type="submit" value="Buy")

            .servicesExtra__center
                .servicesExtra__item.item-border.item-border2
                    .servicesPage__title 
                        | CV check — 
                        span 10£
                    .servicesPage__subtitle CV check <br> Cover letter check
                    .servicesPage__btn
                        .btn--wrap
                            .btn.btn--green
                                input(type="submit" value="Buy")
                .servicesExtra__item.item-border.item-border2
                    .servicesPage__title 
                        | Cover letter writing — 
                        span 15£
                    .servicesPage__subtitle (please send your CV)
                    .servicesPage__btn
                        .btn--wrap
                            .btn.btn--green
                                input(type="submit" value="Buy")
                .servicesExtra__item.servicesExtra__item--column
                    .servicesPage__title MIX AND MATCH
                    .servicesPage__subtitle get 10% off if total amount of services you book is £70 get 15% off if total value of the services you book is £100 (does not include pack offers)
            .servicesExtra__last
                .servicesExtra__item.item-border.item-border2
                    .servicesPage__title 
                        | Job interview preparation —  
                        span 15£
                    .servicesPage__subtitle (30 min by Skype+written suggestions on improvement)
                    .servicesPage__btn
                        .btn--wrap
                            .btn.btn--green
                                input(type="submit" value="Buy")
                .servicesExtra__item.item-border.item-border2
                        .servicesPage__title 
                            | Presentation rehearsal + advice on improvement 20 min by Skype — 
                            span 15£
                        .servicesPage__btn
                            .btn--wrap
                                .btn.btn--green
                                    input(type="submit" value="Buy")
            