section.servicesPacks
    .wrap
        .title 
            span Special packs
        .servicesPacks__tabs
            .tabs
                ul.tabs__caption
                    li.active
                        .btn--wrap.btn--wrap--left
                            .btn.btn--darkblue
                                input(type="submit" value="Employee")
                    li 
                        .btn--wrap.btn--wrap--right
                            .btn.btn--blue
                                input(type="submit" value="Employer")
                .tabs__content.active 
                    .servicesPacks__items 
                        .servicesPacks__item.item-border 
                            .servicesPage__title 
                                | New Job pack — 
                                span 40£
                            .servicesPacks__text 
                                p CV check
                                p Cover letter check
                                p Job interview preparation (30 min by) Skype+written suggestions on improvement
                                p Linkdin profile check
                            .servicesPacks__btn
                                .btn--wrap
                                    .btn.btn--green
                                        input(type="submit" value="Buy") 
                        .servicesPacks__item.item-border 
                            .servicesPage__title 
                                | Impress your boss pack — 
                                span £30
                            .servicesPacks__text 
                                p CV check
                                p Cover letter check
                                p Job interview preparation (30 min by) Skype+written suggestions on improvement
                                p Linkdin profile check
                            .servicesPacks__btn
                                .btn--wrap
                                    .btn.btn--green
                                        input(type="submit" value="Buy") 
                .tabs__content
                    .servicesPacks__items 
                        .servicesPacks__item.item-border 
                            .servicesPage__title 
                                | New Job pack2 — 
                                span 40£
                            .servicesPacks__text 
                                p CV check
                                p Cover letter check
                                p Job interview preparation (30 min by) Skype+written suggestions on improvement
                                p Linkdin profile check
                            .servicesPacks__btn
                                .btn--wrap
                                    .btn.btn--green
                                        input(type="submit" value="Buy") 
                        .servicesPacks__item.item-border 
                            .servicesPage__title 
                                | Impress your boss pack2 — 
                                span £30
                            .servicesPacks__text 
                                p CV check
                                p Cover letter check
                                p Job interview preparation (30 min by) Skype+written suggestions on improvement
                                p Linkdin profile check
                            .servicesPacks__btn
                                .btn--wrap
                                    .btn.btn--green
                                        input(type="submit" value="Buy") 