section.servicesQuestions
    .wrap
        .servicesQuestions__body
            .servicesQuestions__title DO you have any quesions?
            .servicesQuestions__text 
                | just ask me here in 
                span.social-icon.social-icon--inst
                    a(href="#")
                        img(src="img/instagram-logo.svg" alt="instagram")
                | or by 
                a(href="mailto:#") email 
