section.task
    .wrap
        .title.title-main
            span To Be in Present Simple
        .subtitle Helpful rules and exercises
        .title.title--small.title--rule
            span Rule
        .task__body
            .task__title To be in Present Simple is used when you want
            ol.task__text 
                li 1 — to say that something is located somewhere: the chair is in the room.
                li 2 — exists or is present: here’s a chair, please, take a seat.
                li 3 — has characteristics: He`s a great father.
        .task__pic
            img(src="img/page_task/task1.jpg", alt="task")  
        .title.title--small.title--examples
            span Examples
        .task__pic
            img(src="img/page_task/examples1.jpg", alt="examples")
        .title.title--small.title--check
            span Check yourself
        .subtitle Helpful rules and exercises    
        ol.task__items
            li.task__item
                .task__options.option
                    .option__name Response options:
                    ul.option__items
                        li.option__item.active Am
                        li.option__item Is
                        li.option__item Are
                .task__qa 
                    .task__num 1.
                    .task__qa-text There _______ a place like that in his native town.
            li.task__item
                .task__options.option
                    .option__name Response options:
                    ul.option__items.option__items-mcol
                        li.option__item.active I used to get up at seven
                        li.option__item What time did you use to
                        li.option__item He didn’t use to wake
                .task__qa 
                    .task__num 2.
                    .task__qa-text There _______ a place like that in his native town.
            li.task__item
                .task__options.option
                    .option__name Response options:
                    ul.option__items
                        li.option__item Am
                        li.option__item Is
                        li.option__item Are
                .task__qa 
                    .task__num 3.
                    .task__qa-text There _______ a place like that in his native town.

        .task__btn
            .btn--wrap
                .btn.btn--blue
                    input(type="submit" value="Check task") 
        .title.title--small.title--result
            span Result
        .task__result
            .task__result-foto
                img(src="img/page_task/result-yes.jpg", alt="result")
                img.display-none(src="img/page_task/result-no.jpg", alt="result")
            .task__result-mob
                .task__result--tick
            .task__result-text Revise the rule again and try one more time!
