section.taskFirst
    .wrap
        .taskFirst__body
            .taskFirst__text 
                .taskFirst__title You first free lesson
                p Send a request - appointment of a convenient time to call on Skype - discuss your goals 
            ul.taskFirst__form
                form
                    .free__form
                        .input--wrap
                            input(type="text" name="name" placeholder="Name" required)
                        .input--wrap
                            input(type="text" name="skype" placeholder="Skype" required)
                        .input--wrap
                            input(type="text" name="email" placeholder="Email" required)
                        .tv__min-text Consent to personal data processing
                        .btn--wrap
                            .btn.btn--red
                                input(type="submit" value="Get you tests lesson") 
                
