include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
	body
		header
			include ../common/nav
		include ../common/servicesAbout
		include ../common/servicesPacks
		include ../common/servicesFirst
		include ../common/servicesExtra
		include ../common/servicesQuestions
		include ../common/servicesGift

		include ../common/footer

	// END body